/dev/ext
/dev/src/kscclientwrapper.vcxproj.user
/dev/src/Debug
/dev/src/Release
/dev/src/ipch
/dev/src/kscclientwrapper.opensdf
/dev/src/kscclientwrapper.sdf
/dev/src/kscclientwrapper.sln.docstates.suo
/dev/src/kscclientwrapper.suo
/export/
/dev/src/build
/dev/src/version.inc